@font-face {
  src: url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), 
  url('../fonts/open-sans-v27-latin-regular.woff') format('woff'); 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'), 
  url('../fonts/open-sans-v27-latin-700.woff') format('woff'); 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}      

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

img{
  vertical-align: middle;
}

ul,ol{
  list-style: none;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.container{
  width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header{
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo{
  width: 58px;
  height: 20px;
  margin-right: 325px;
}

.site-logo:hover{
  opacity: 0.8;
}

.site-logo:active{
  opacity: 0.4;
}

.menu-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-link{
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  border: 3px solid transparent;
  padding: 16px;
}

.menu-link:hover{
  border-bottom:3px solid #191919;
}

.menu-link:active{
  background-color: #191919;
  color: #FFFFFF;
  opacity: 0.7;
}

.nav-link:hover{
  border: transparent
}

.nav-link:active{
  background-color: #FFFFFF;
  color: #000;
  opacity: 1;
}
.contact-link{
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: 8px;
}

.contact-link:hover{
  color: #00BAFC;
  background: #FFFFFF;
  border: 3px solid #00BAFC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-link:active{
  color: #FFFFFF;
  background: rgba(0, 186, 252, 0.6);
}

.hero-section{
  padding: 80px 0;
}
.hero{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subhero{
  width: 470px;
}

.subhero-title{
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

.subhero-text{
  line-height: 24px;
  margin: 16px 0;
}

.subhero-link{
  text-decoration: none;
text-align: center;
  font-weight: bold;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
}

.subhero-link:hover{
  background: rgba(0, 186, 252, 0.8);
}

.subhero-link:active{
  background: rgba(0, 186, 252, 0.6);
}

iframe{
  width: 458px;
  height: 258px;
  border-radius: 8px;
}

.services{
  padding: 56px;
}

.service-title{
  text-align: center;
  font-style: Bold;
  font-style: 24px;
  line-height: 31px;
}

.service-text-box{
  width: 719px;
  margin: 16px auto 24px auto;
}

.service-text{
  text-align: center;
  line-height: 24px;
}

.service-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-item{
  width: 320px;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 48px;
}

.service-link{
  text-decoration: none;
  color: #000;
}

.service-item:nth-child(2n){
  margin-right: 70px;
  margin-left: 70px;
}

.service-item:hover{
  background: #FFFFFF;
-webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.service-item:active{
  background: #FFFFFF;
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}

.service-img{
  width: 203px;
  height: 130px;
  padding: 24px 59px;
}

.service-item-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 16px 0;
  color: #000;
}

.service-item-text{
  line-height: 24px;
  text-align: center;
  color: #000;
}

.service-link-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 378px;
  margin: 0 auto;
}

.service-sublink{
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00BAFC;
  margin-left: 16px;
}

.work-process{
  padding: 56px 0;
}

.work-process-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.work-process-text{
  width: 719px;
  margin: 16px auto;
}

.work-process-subtext{
  line-height: 24px;
  text-align: center;
}

.work-process-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-process-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 832px;
  margin: 48px auto;
}

.work-process-item:nth-child(2n) {    
  -webkit-box-orient: horizontal;    
  -webkit-box-direction: reverse;    
      -ms-flex-direction: row-reverse;    
          flex-direction: row-reverse;
}

.work-process-img{
  width: 300px;
  height: 278px;
  margin-right: 32px;
}

.work-process-subtitle{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 8px;
}

.work-process-link{
  text-align: center;
  width: 167px;
  display: block;
  margin: 0 auto ;
}

.order{
  background-color: #00BAFC;
  padding-top: 56px;
  padding-bottom: 64px;
}

.order-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
}

.order-text-box{
  width: 719px;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}

.order-text{
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.order-form-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 348px;
  padding: 24px;
  margin: 0 auto;
}

.order-input{
  width: 300px;
  background-color: #F3F3F3;
  border: 1px solid #F3F3F3 ;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
}

.order-input::-webkit-input-placeholder{
  color: #000;
}

.order-input::-moz-placeholder{
  color: #000;
}

.order-input:-ms-input-placeholder{
  color: #000;
}

.order-input::-ms-input-placeholder{
  color: #000;
}

.order-input::placeholder{
  color: #000;
}

.order-select{
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 140px ) ;
  -webkit-appearance:unset;
     -moz-appearance:unset;
          appearance:unset;
  width: 335px;
  background-color: #F3F3F3;
  border-radius: 5px;
  border: 1px solid #F3F3F3 ;
  padding: 16px;
  margin-bottom: 16px;
}

.order-button{
  display: block;
  color: #fff;
  background-color: #00BAFC;
  border: 1px solid #00BAFC ;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 auto;
}

.footer{
  background-color: #000000;
  color: #FFFFFF;
  padding: 56px 0;
}

.footer-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-info{
  width: 320px;
  margin-right: 100px;
}

.info-strong{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}

.footer-text{
  line-height: 24px;
}

.pages-info{
  margin-right: 87px;
}

.footer-link{
  text-decoration: none;
  color:#fff;
  line-height: 24px;
}

.footer-link:hover{
  color: #00BAFC;
}

.footer-link:active{
  color: #00BAFC;
  opacity: 0.6;
}

.footer-item{
  margin: 8px 0px;
}

.footer-link-img{
  width: 22px;
  height: 24px;
  margin-right: 8px;
}